body {
  background-color: rgba(250, 250, 250, 1);
}

/*a {
    color: rgba(107,84,71,.9);
}*/

.vidFrame {
  height: 500px;
}

#navBar {
  height: 80px;
}

#homeUl {
  font-size: 50px;
}


.section {
  height: 350px;
}

#easyTithe {
  margin-top: 85px;
}

#wellLogoNav {
  height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*div {
  border: 2px solid black;
}*/

.standardParallax {

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.home1 {
  background-image: url("../assets/img/theWellPng.png");
}

.home2 {
  background-image: url("../assets/img/trees.png");
}

.home3 {
  background-image: url("../assets/img/oranges.png");
}

.home4 {
  background-image: url("../assets/img/well.png");
}

.ourStory1 {
  background-image: url("../assets/img/santaPaulaFoursquare2.jpg");
}

#prayerRequest {
  height: 600px;
}

#wellLogo {
  height: 300px;
  margin-top: 150px;
}

.missionRow {
  text-align: center;
}

#spanish {
  margin-left: 15px;
}

#english {
  margin-right: 15px;
}

.mission {
  display: inline-block;
  height: 100px;
  width: 215px;
  border-radius: 25px;
  border: 5px solid rgba(107,84,71,.9);
}

.missionM {
  display: inline-block;
  height: 200px;
  width: 300px;
  border: 5px solid white;
  margin-top: 75px;
  color: rgba(107,84,71,.9);
}

h5 {
  color: rgba(107,84,71,.9);
}

#missionPadding {
  padding-top: 12px;
}

.mission:hover {
  border: 5px solid rgba(222,209,109,.7);
}

.missionM:hover {
  color: rgba(222,209,109,.7);
}

.serviceTimes:hover {
  color: 5px solid rgba(222,209,109,.7);
}

#exchange {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 12px;
}

#elements {
  margin-left: 25px;
  margin-right: 25px;
}

.sandcastleB {
  background-color: rgba(222,209,109,.7);
}

.sandcastleT {
  color: rgba(222,209,109,.7);
}

.deepBrownB{
  background-color: rgba(107,84,71,.9);
}

.deepBrownT{
  color: rgba(107,84,71,.9);
}

.wholeWheatB {
  background-color: rgba(158,134,111,.9);
}

.wholeWheatT {
  color: rgba(158,134,111,.9);
}

.pebbleWalkB {
  background-color: rgba(169,172,161,.9);
}

.pebbleWalkT {
  color: rgba(169,172,161,.9);
}


/*Responsive*/
@media screen and (max-width: 768px) {
  #wellLogo {
    height: 250px;
    margin-top: 175px;
  }

  .home1 {
    background-image: url("../assets/img/sanctuaryS.png");
  }

}

@media screen and (max-width: 480px) {

  .standardParallax {
    background-attachment: scroll;
    height: 190px;
  }

  #wellLogo {
    height: 100px;
    margin-top: 40px;
  }

  h1 {
  font-size: 30px;
  }

  h2 {
  font-size: 25px;
  }

  h3 {
  font-size: 20px;
  }

  .mission {
    display: block;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 175px;
    border-radius: 25px;
    border: 5px solid rgba(107,84,71,.9);
  }

  h5 {
    font-size: 20px;
  }

  #spanish {
    margin-left: auto;
    margin-right: auto;
  }

  #english {
    margin-right: auto;
    margin-left: auto;
  }

  #missionPadding {
    padding-top: 0px;
  }

  #exchange {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
  }

  #elements {
    margin-left: auto;
    margin-right: auto;
  }

  .margin1 {
    margin-bottom: 5px;
  }

  .section {
    height: 375px;
  }

  #section1 {
    height: 400px;
  }

  .section2 {
    height: 300px;
  }

}
