
<div>
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <ul class="left tabs tabs-transparent">
        <li><a ng-click="Home.scrollTo('serviceTimes')">Service Times</a></li>
        <li><a ng-click="Home.scrollTo('nextSteps')">Next Steps</a></li>
        <li><a ng-click="Home.scrollTo('about')">About</a></li>
        <li><a ng-click="Home.scrollTo('prayerRequest')">Prayer Request</a></li>
        <li><a ng-click="Home.scrollTo('give')">Give</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="standardParallax home1">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="center"><img class="responsive-img" ng-src="assets/img/theWellFinal.png" alt="The Well Logo" id="wellLogo"></div>
    </div>
  </div>
</div>

<div class="section white" id="section1">
  <h1 class="header center deepBrownT">Our Values</h1>
  <div class="row missionRow">
      <div class="mission" id="missionPadding"><a ui-sref="values"><h5 class="center">Encounter</h5></div></a>
      <div class="mission" id="exchange"><a ui-sref="values"><h5 class="center">Mentor</h5></div></a>
      <div class="mission" id="missionPadding"><a ui-sref="values"><h5 class="center">Serve</h5></div></a>
  </div>
</div>

<div class="standardParallax home2"></div>

<div id="serviceTimes" class="section section2 white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Service Times</h1>
    </div>
  </div>
  <div class="row missionRow">
      <div class="mission" id="english"><h5 class="center">English <br> 10:00am</h5></div>
      <div class="mission" id="spanish"><h5 class="center">Spanish <br> 1:30pm</h5></div>
  </div>
</div>

<div class="standardParallax home3"></div>

<div id="nextSteps" class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Next Steps</h1>
    </div>
  </div>
  <div class="row missionRow">
      <a ui-sref="bibleStudy"><div class="mission"><h5 class="center">Bible <br> Study</h5></div></a>
      <a ui-sref="youth"><div class="mission" id="elements"><h5 class="center">Elements <br> Youth</h5></div></a>
      <a ui-sref="kids"><div class="mission"><h5 class="center">Kingdom <br> Kids</h5></div></a>
  </div>
</div>

<div class="standardParallax home4"></div>

<div id="about" class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">About</h1>
    </div>
  </div>
  <div class="row missionRow">
      <a href="http://www.foursquare.org/" target="_blank"><div class="mission"><h5 class="center">What is <br> Foursquare?</h5></div></a>
      <a ui-sref="ourStory"><div class="mission" id="elements"><h5 class="center">Our <br> Story</h5></div></a>
      <a ui-sref="values"><div class="mission"><h5 class="center">Our <br> Values</h5></div></a>
  </div>
</div>

<div class="standardParallax home2"></div>

<div class="section white" id="prayerRequest">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Prayer Request</h1>
    </div>
  </div>
  <div class="row">
    <form name="contactForm" ng-submit="Home.sendMail()" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="validate" ng-model="Home.contactName"/>
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
          <input  type="email" class="validate" ng-model="Home.contactEmail"/>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea class="materialize-textarea" ng-model="Home.contactMsg"></textarea>
              <label for="textarea1">Prayer Request</label>
            </div>
          </div>
        </div>
      </div>
      <div class="center">
        <button class="btn waves-effect waves-light" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="standardParallax home3"></div>

<div id="give" class="section section2 white">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="center" id="easyTithe"><a href="http://www.easytithe.com/dl/?uid=vallpo257" target="_blank"><img  class="responsive-img" src="assets/img/easyTithe.png" alt="Easy Tithe"></a></div>
    </div>
  </div>
</div>
