<div class="standardParallax home1">
  <div class="center"><img ng-src="assets/img/theWellFinal.png" alt="The Well Logo" id="wellLogo"></div>
</div>
<div class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Encountering God | Serving Others</h1>
    </div>
  </div>
  <div class="row missionRow">
      <div class="mission" id="missionPadding"><h3 class="center">Reach</h3></div>
      <div class="mission" id="exchange"><h3 class="center">Exchange</h3></div>
      <div class="mission" id="missionPadding"><h3 class="center">Mentor</h3></div>
  </div>
</div>

<div class="standardParallax home2"></div>

<div class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Service Times</h1>
    </div>
  </div>
  <div class="row missionRow">
      <div class="mission" id="english"><h3 class="center">English <br> 10:00am</h3></div>
      <div class="mission" id="spanish"><h3 class="center">Spanish <br> 1:30pm</h3></div>
  </div>
</div>

<div class="standardParallax home3"></div>

<div class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Next Steps</h1>
    </div>
  </div>
  <div class="row missionRow">
      <a ui-sref="bibleStudy"><div class="mission"><h3 class="center">Bible <br> Study</h3></div></a>
      <a ui-sref="youth"><div class="mission" id="elements"><h3 class="center">Elements <br> Youth Group</h3></div></a>
      <a ui-sref="kids"><div class="mission"><h3 class="center">Kingdom Kids</h3></div></a>
  </div>
</div>

<div class="standardParallax home4"></div>

<div class="section white" id="prayerRequest">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Prayer Request</h1>
    </div>
  </div>
  <div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <input id="name" type="text" class="validate">
         <label for="name">Name</label>
       </div>
       <div class="input-field col s6">
         <input id="email" type="text" class="validate">
         <label for="email">Email</label>
       </div>
     </div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Prayer Request</label>
        </div>
      </div>
    </form>
  </div>
  <div class="center">
  <a class="waves-effect waves-light btn-large" id="sendPrayer" type="submit">Send</a>
  </div>
</div>

<div class="standardParallax home2"></div>

<div class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">About</h1>
    </div>
  </div>
  <div class="row missionRow">
      <a href="http://www.foursquare.org/" target="_blank"><div class="mission"><h3 class="center">What is <br> Foursquare?</h3></div></a>
      <a ui-sref="ourStory"><div class="mission" id="elements"><h3 class="center">Our <br> Story</h3></div></a>
      <a ui-sref="values"><div class="mission"><h3 class="center">Our <br> Values</h3></div></a>
  </div>
</div>

<div class="standardParallax home3"></div>

<div class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Give</h1>
    </div>
  </div>
</div>
