<div class="parallax-container">
  <div class="parallax"><img ng-src="assets/img/theWellPng.png"></div>
  <div class="center" id="logoWrapper"><img ng-src="assets/img/theWellFinal.png" alt="The Well Logo" id="wellLogo"></div>
</div>
<div class="section white">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="header center deepBrownT">Encountering God | Serving Others</h1>
    </div>
  </div>
  <div class="row missionRow">
      <div class="mission"><h3 class="center">Reach</h3></div>
      <div class="mission" id="exchange"><h3 class="center">Exchange</h3></div>
      <div class="mission"><h3 class="center">Mentor</h3></div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img ng-src="assets/img/trees.png"></div>
</div>
<div class="parallax-container">
  <div class="parallax"><img ng-src="assets/img/valley.png"></div>
</div>

<script>
  $(document).ready(function(){
     $(".parallax").parallax();
  });
</script>
