<div class="standardParallax ourStory1"></div>

<div class="row">
   <div class="col s12 l12 m12">
     <div class="card-panel white">
       <span class="black-text">
         <h3 class="center">Our Story</h1>
         <p>In the fall of 1926, a group of students from LIFE Bible College in Los Angeles conducted revival services in a tent on the corner of 8th and Main Street where the Cal West Real Estate Building is now located. Men and women from all walks of life were attracted to the meetings as a result of the mighty revival God poured out in those meetings. Some of the early publications in Foursquare described these early meetings.</p>

         <h5>Excerpt from Foursquare Crusader, Nov. 25, 1926</h5>

         “To dedicate ground of the Foursquare Gospel Tabernacle in Santa Paula, Sister Aimee Semple McPherson will unite with the new made friends and members there Monday evening… Brother and Sister Lynd are having successful revival services, reporting many saved and the sSirit of God manifest in the midst. So eager are the people for the continuance and the permanence of the work that they have lost no time in securing ground and are making preparations to build immediately. The meeting will be led in the Mission Garage, which is said will seat 2500. Angelus Temple extends greeting to all the friends at Santa Paula and wishes them Godspeed, many blessings and a rich harvest of souls. Truly we are many members, but one body.”


         <h5>Excerpt from Bridal Call, our Foursquare Magazine (Jan, 1927)</h5>

         <p>Santa Paula is one of the newest children to be added to the Angelus Temple, but so rapid has been its growth that it promises soon to rank well with the older branches.
         What a wonderful lot of people they are!  Once the witness has come that they are really saved, they stand like flint, shoulder to shoulder for the Savior. The community has been stirred for God. One lady in particular became so under conviction while working in a packing house in a neighboring city that she obtained a leave of absence and came twenty-five miles to our home. With tears streaming down her cheeks, she asked us to pray that she might be converted. She knelt in our front room, accepted Jesus as her own personal Savior and went away, her face shining.

         A few days later the family next door came and asked us to pray for them. There they knelt, the husband wife and brother, all with uplifted hands and were beautifully saved. So hungry are these people and so mighty has the Spirit of the Lord fallen upon the community that forty at one time journeyed to the river where they were baptized.
         We are rejoicing with the twenty-five who have given their hearts to the Lord in our home and those being saved each week in our hall. We expect very soon to start work on our new tabernacle, for we have already purchased the ground which has been dedicated by Sister McPherson. May the dear Lord ever keep us faithful in proclaiming the Foursquare Gospel message to the winning of many precious souls for Jesus.


         The first meeting place of the newly organized group was in a hall over the Citizens State Bank at the corner of Mill and Main Street. After a period of time at this location the services were relocated in a hall near the Santa Clara River. From this great season of revival, the Foursquare Church of Santa Paula was organized with Rev. James Lynd, the first pastor.

         Prayer 	meetings were healed at the homes of Arthur and Eva Morris and Ben and Mable Graves until a piece of property was secured on South Ojai Street and the Foursquare Tabernacle was built. The first baptismal service was held at Swallows Nest in Sespe Creek near Fillmore, under the ministry of Rev. Lynd who remained with the Church for two years. The first Sunday School Superintendent was Will Knight, and the second was Estellene Prall, and the third was Floyd Brock.</p>

         <h5>An excerpt from the Foursquare Crusader, Sat., March 12, 1927</h5>

         <p>The glorious altar call was the seal of the Holy Spirit placed upon the new Foursquare Gospel Branch at Santa Paula at its dedication service Monday evening when the platform was crowded with earnest, seeking souls…in this short time, a church has been organized, land purchased and paid for, and this tabernacle seating over 1000 people erected and now dedicated. The pastors of this church, Brother and Sister James Lynd, a bright, happy, consecrated couple have done wonderful work and are well beloved by their people.”

         Rev. Ethel Singleton followed as the second pastor and filled this position from 1928 to 1942. Many improvements in the building were made during this time. An orchestra was organized under the direction of Roy Faes. There was a girls’ chorus, “Shades of Harmony,” which was honored by being invited to a birthday party for Sister McPherson in Angeles Temple, in 1937. Sister Singleton was the speaker of the evening. Sister Singleton pastored and led the congregation through a great season in the life of the church that not only saw successes, but much difficulty, including the flood from the San Francisquito Dam in 1928.</p>

         <h5>An Excerpt from The Bridal Call, 1928</h5>

         <p>Our tabernacle is situated on the edge of the lowlands. The water came within a few blocks of the tabernacle, but it was untouched. Before it came we had warning sufficient to make our escape to the hills. The moment the danger had passed, we set about organizing our tabernacle with all its facilities into a Commissary where we were able to care for all our Foursquare families and hundreds of others besides. Supplies of food and clothing were rushed from Angelus Temple and were invaluable in enabling us to cope with the situation. God wonderfully aided us in effecting a smoothly running organization, so that it was not long before we were able to meet the needs of the crowds who were standing around helpless and begging for food…”
         Sister Ethel Singleton, Pastor</p>


         <h5>The pastors who have sacrificed and led in this great church</h5>
         <ul>
           <li>1927 - 1928: Rev. Lynd</li>
           <li>1928 - 1942: Rev. Ethel Singleton</li>
           <li>1928 - 1942: Rev. Ethel Singleton</li>
           <li>1942 - 1944: Rev. Erwin</li>
           <li>1944:  Rev. and Mrs. Guy Toby <br>
           	*During their ministry, partitions were added to the building to provide more Sunday School
           	  rooms, and a parsonage was purchased in the Oakdale subdivision district.</li>
           <li>1944 - 1953: Rev. and Mrs. Hooper White <br>
           	*Present property was purchased, and the auditorium/Chapel (Velvet Room) were built.</li>
           <li>1953 - 1956:  Rev. and Mrs. William Gay</li>
           <li>1956:  Rev. and Mrs. E. Worlitz</li>
           <li>1956 - 1957:  Rev. Campbell</li>
           <li>1957 - 1962:  Rev. A. Winther <br>
           	*Constructed Sisson Hall </li>
           <li>1962 - 1965:  Rev. Elmer Henderson <br>
           	*Front of the main church was remodeled and painted </li>
           <li>1965-70:  Rev. and Mrs. A. P. Peterson</li>
           <li>1970-72:  Rev. and Mrs. O.R. Alpert</li>
           <li>1972:  Rev. and Mrs. James Phillips</li>
           <li>1972 - 1979:  Rev. and Mrs. Gayden Frazier</li>
           <li>1979 - 1988:  Rev. and Mrs.	Dennis Estill</li>
           <li>1988:  Rev. and Mrs. Bill Gregory</li>
           <li>1988:  Rev. and Mrs. Wayne Reudi</li>
           <li>1988 - 1990:  Rev. and Mrs. Mike Valdez</li>
           <li>1990-1994:  Rev. and Mrs. Mike Barnum</li>
           <li>1994-2013:  Rev. and Mrs. David McKeever</li>
           <li>2014 to Present:  Rev. and Mrs. John Farmer</li>
         </ul>
       </span>
     </div>
   </div>
 </div>
