

<div class="container">
<div class="col l6 m12 s12">
  <h1 class="center">Our Team</h1>
  <div class="card">
    <div class="card-image">
      <img src="../assets/img/johnFarmer.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5>JOHN FARMER</h5>
        <h6>SENIOR PASTOR</h6>
        <p>Favorite Movie
        <br>
        Braveheart
        <br>
        <br>
        Favorite Restaurant
        <br>
        F. Mclintocks
        <br>
        <br>
        Dream Vacation
        <br>
        Tahiti/Bora Bora
        <br>
        <br>
        If you could meet anyone in history, who would it be?
        <br>
        The Apostle John and Joseph
        <br>
        <br>
        Favorite Verse
        <br>
        Acts 26:16..."But rise and stand on your feet, for I have appeared to you for this purpose, to make you a minister and a witness both of the things which you have seen and the things which I will yet reveal to you."</p>

        <h5>CLAUDIA FARMER</h5>
        <h6>MISSIONAL DIRECTOR</h6>
        <p>Favorite Movie
        <br>
        P.S. I Love You
        <br>
        <br>
        Favorite Restaurant
        <br>
        Zaytoon
        <br>
        <br>
        Dream Vacation
        <br>
        Europe for a year
        <br>
        <br>
        If you could meet anyone in history, who would it be?
        <br>
        My maternal grandmother
        <br>
        <br>
        Favorite Verse
        <br>
        2 Corinthians 12:9... But he said to me, 'My grace is sufficient for you, for my power is made perfect in weakness.' Therefore I will boast all the more gladly about my weaknesses, so that Christ’s power may rest on me."</p>
      </div>
    </div>
  </div>
</div>
<div class="col l6 m6 s6">
  <div class="card">
    <div class="card-image">
      <img src="../assets/img/janetLindsay.jpeg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5>JANET LINDSAY</h5>
        <h6>CFO</h6>
        <p>Favorite Movie
        <br>
        Red
        <br>
        <br>
        Favorite Restaurant
        <br>
        IHOP
        <br>
        <br>
        Dream Vacation
        <br>
        A cruise to Alaska
        <br>
        <br>
        If you could meet anyone in history, who would it be?
        <br>
        Peter the Apostle
         <br>
         <br>
        Favorite Verse
        <br>
        Philippians 4:13  "I can do all things through Christ who strengthens me."</p>
      </div>
    </div>
  </div>
</div>
<div class="col l6 m6 s6">
  <div class="card">
    <div class="card-image">
      <img src="../assets/img/andrewGonzalez.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5>ANDREW J. GONZALEZ</h5>
        <h6>DIRECTOR OF WORSHIP</h6>
        <p>Favorite Movie
        <br>
        I love the Indiana Jones movies
        <br>
        <br>
        Favorite Restaurant
        <br>
        Oakland Grill
        <br>
        <br>
        Dream Vacation
        <br>
        Israel/Turkey/Egypt/Ethiopia
        <br>
        <br>
        If you could meet anyone in history, who would it be?
        <br>
        Abraham Lincoln
        <br>
        <br>
        Favorite Verse
        <br>
        Song of Solomon 8:6 "Put me like a seal over your heart, like a seal on your arm.  For love is as strong as death, jealousy as severe as Sheol; It's flashes are flashes of fire, The very flame of the Lord."</p>
      </div>
    </div>
  </div>
</div>
  <div class="col l6 m6 s6">
    <div class="card">
      <div class="card-image">
        <img src="../assets/img/robRamos.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>ROB AND CESSIE RAMOS</h5>
          <h6>YOUTH PASTORS</h6>
          <p>Favorite Movie
           <br>
          Rob:
          <br>
          Cessie:
         <br>
         <br>
          Favorite Restaurant
          <br>
          Rob:
          <br>
          Cessie:
         <br>
         <br>
          Dream Vacation
          <br>
          Rob:
          <br>
          Cessie
         <br>
         <br>
          If you could meet anyone in history, who would it be?
          <br>
          Rob:
          <br>
          Cessie:
         <br>
         <br>
          Favorite Verse
          <br>
          Rob:
          <br>
          Cessie:
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
