
<div class="row">
   <div class="col s12 l12 m12">
     <div class="card-panel hoverable white z-depth-4">
       <span class="black-text">
         <h4 class="center">Focus</h4>
         <h5>Encounter</h5>
         <p>
           Encounters are moments that have influence on our thoughts, our perspectives, and our lifestyle. Jesus said that those who love Him will be known by how they love one another. When our lives are filled with personal encounters with God, we will reflect Him as we connect with others in our everyday experiences.

           Daniel 10:10-12; Acts 2:1-4; Acts 26:12-18; Psalm 145:18
         </p>

         <h5>Mentor</h5>
         <p>
           “Wisdom is only knowledge until it is passed to another person” – Anonymous. The last instruction that Jesus gave us was to pass on what we have learned… Matt 28:18-20. And yet, teaching is so much more than simply imparting facts.  Jesus gave us the greatest model when He showed us that life is the greatest teaching tool of the Gospel. As a community, we seek to do life with one another, receiving wisdom from those who have walked their journey with God, and coming alongside those who are just starting out.

           Proverbs 27:17; Psalm 145:4; 1 Peter 5:1-5; Deuteronomy 6:4-9
         </p>

         <h5>Serve</h5>
         <p>
           Serving others is a driving force of growth in Jesus. He taught it, lived it, and asked us to do it as well! We believe in serving God and those around us with our resources, our time, and our skills. When we engage our church family, our local community and the world with the heart of a servant, we recognize that it turns what we believe into reality for those we serve.

           Mark 10:45; Phil. 2:1-4; Matt. 23:11; I Peter 4:10-11
         </p>
       </span>
     </div>
   </div>
 </div>

<div class="row">
   <div class="col s12 l12 m12">
     <div class="card-panel hoverable white z-depth-4">
       <span class="black-text">
         <h4 class="center">Mission & Vision</h4>
         <h5>Mission</h5>
         <p>
           As a well is a resource to its community, we are pursuing to be a safe place to encounter God and one another, to serve others both locally and abroad, and to be mentored in the things of the Lord, mentoring others in the same way.
         </p>

         <h5>Vision</h5>
         <p>
           The Well Foursquare Church will be a multi-generational and multicultural church family that is reflecting the life-giving power of Jesus Christ to our community through acts of kindness, community outreach, global missions, and making disciples of Jesus Christ in all that we do.
         </p>
       </span>
     </div>
   </div>
 </div>

 <div class="row">
    <div class="col s12 l12 m12">
      <div class="card-panel hoverable white z-depth-4">
        <span class="black-text">
          <h4 class="center">Values</h4>

          <h5>Bible</h5>
          <p>
             We value a commitment to the Word of God. The Bible is true, inerrant, and the plumb line for life, instruction, encouragement, and comfort.  II Timothy 3:16
          </p>
          <h5>Holy Spirit</h5>
          <p>
               We value the provision of the Holy Spirit. We believe that the Holy Spirit was given to the church as a Helper and a Comforter in our walk with Jesus. We wholeheartedly believe in the gifts of the Holy Spirit that will bring forth the fruit of the Holy Spirit in our lives! John 14:16-17, 26; I Cor. 12:1-11; Gal. 5:16-26
          </p>
          <h5>Worship</h5>
          <p>
             We value our privilege to worship God. Worship is not simply in the songs that we sing, but also in the way in which we live our lives. Our pursuit is that our lives reflect Jesus 24/7, not just at church. Romans 12:1-2
          </p>
          <h5>Process</h5>
          <p>
            We value the need for process. Life is full of experiences… Many are simple, while others are game-changers. The difficulty in today’s culture is how quickly we move forward without taking a moment to process what is taking place in our lives and what God is doing in the midst of it. Whether through small groups, fellowship, or personal times, we seek to be those who take the time to process all that God has for us in each and every situation. Isaiah 43:18-19.
          </p>
          <h5>People</h5>
          <p>
               We value loving people. Jesus loved all people. He did not agree with all of their lifestyles, but it never hindered Him from loving them. As we endeavor to be like Jesus, we will seek to do the same! Mark 2:13-17; James 2:1-13
          </p>
          <h5>Next Generation</h5>
          <p>
             We value the importance of the next generation. We believe in a multigenerational church, guiding and training in the ways of the Lord!  Joshua 4:5-7; I Tim. 4:12
          </p>
          <h5>Serving</h5>
          <p>
             We value serving. Jesus said that people will know that we love Him by our love for one another - prioritizing others over ourselves. There are things that we can do daily, but we can also accomplish much as a team! The question to ask is this, “Where can I invest my time and volunteer with others to make a difference, long-term?”  Phil. 2:1-4
          </p>
        </span>
      </div>
    </div>
  </div>
