<div class="row">
  <div class="col s12 m10 push-m1">
    <div class="card">
      <div class="card-image">
        <img src="assets/img/ElementsYouth.jpg">
      </div>
      <div class="card-content">
        <p>
        Wednesdays @ 6:30pm
        <br>
        <br>
        If you were to take a look at the world around you, the objects and the life that you would see take on very different shapes, sizes and colors. At first glance, they are vastly different. Whether skin and bone, leaves and dirt, or wood and stone, everything on this planet has a unique structure and design. Yet, each of these can be broken down even further… into molecules and further still into elements. Elements cannot be seen with the human eye, but everything we see, use, or eat is held together by how these elements connect, bond, or even react to one another.
        <br>
        <br>
        A life with Jesus is no different. Everything in our lives can be broken down to a few core issues… worship… discipleship… community. The rest of the things we have in our lives will either connect, bond, or react with these things.
        <br>
        <br>
        In Elements Youth, we will have a lot fun going places, hanging out, and more. But we will also be focused on the core elements in our lives… the ones that will make our lives real, relevant, and those that make a difference.
        <br>
        <br>
        Come and check it out… You're invited!
        </p>

      </div>
    </div>
  </div>
</div>
